.DS_Store
.Rproj.user/
GCF_027563975.1_ilPloInte3.1_genomic.fna
Mapping_old_to_new_Pinterpunctella_scaffolds_methods.docx
README_agp_format.txt
README_paf_format.txt
TK_47.Rproj
new_genome_size_NC_071323.1
old_Pinterpunctella_genome.fasta
old_genome_size_scf_28
old_vs_new.1.coords
plot_functions.R
plot_synteny.nb.html
ragtag.scaffold.agp
ragtag.scaffold.asm.paf
ragtag.scaffold.asm.paf.log
ragtag.scaffold.asm.paf.xlsx
ragtag.scaffold.confidence.txt
ragtag.scaffold.err
ragtag.scaffold.fasta.gz
ragtag.scaffold.stats
scf_28_inversion.xlsx
syntenic_annotation.NC_071323.1_scf_28.txt
synteny_plot_NC_071323.1.pdf
synteny_plot_color_synt_block.pdf
synteny_plot_color_synt_block_NC_071323.1.pdf
synteny_plot_small.pdf
test.txt
tmp

